<h1>Ember YouTube</h1>

<p><strong>This is a demonstration of the ember-youtube component.</strong></p>

<p>You'll see that it's possible to control the player with custom controls. See the <a href="https://github.com/oskarrough/ember-youtube">repository</a> for more information.</p>

<hr>

<p>Try changing the values below:</p>

<section>
	YouTube ID: {{input value=youTubeId}}<br>
Volume: {{input value=volume}}
</section>

<p>You can play, pause, mute and unmute the component from the surrounding controller:</p>

<section>
	<button {{action "togglePlay" target=myPlayer}}>
		{{#if myPlayer.isPlaying}}Pause{{else}}Play{{/if}}
	</button>
	<button {{action "toggleVolume" target=myPlayer}}>
		{{#if myPlayer.isMuted}}Unmute{{else}}Mute{{/if}}
	</button>
</section>

<p>You can format current time and duration with Moment.js:</p>

<section>
	{{myPlayer.currentTimeFormatted}}/{{myPlayer.durationFormatted}}
</section>

<p>Everything above is the template and controller. Below is the component itself:</p>

<section>
	{{ember-youtube
	ytid=youTubeId
	autoplay=true
	volume=volume

	showControls=false
	showTime=true
	showProgress=true
	showDebug=true

	delegate=controller
	delegate-as="myPlayer"

	currentTimeFormat="mm:ss"
	durationFormat="mm:ss"

	playing="ytPlaying"
	paused="ytPaused"
	ended="ytEnded"}}
</section>

{{outlet}}
